/* Estructura general */
section {
    display: flex;
    flex-direction: column;
    color: aliceblue;
}

h1 {
    font-size: 80px;
}

h2 {
    font-family: 'black';
    font-size: 60px;
    letter-spacing: 6px;
    text-align: center;
}

p {
    font-size: 25px;
    font-family: 'texto';
    line-height: 45px;
    text-align: center;
}

/* Video fondo*/
#containerVideo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#containerVideo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.445);
    z-index: 1;
}

#containerVideo > div {
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
}

.videoFondo {
    width: 100%;
}

/* Botón con gradiente */
.linkMas {
    width: 200px;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    color: #ffffff;
    border: solid 1px white;
    position: relative;
    z-index: 0;
    transition: all 0.3s ease;
}

.linkMas::after {
    content: '';
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(90deg, #8ea6b4, #cdd3d8);
    transition: all 0.3s ease;
    z-index: -1;
}

.linkMas:hover {
    color: #000000;
}

.linkMas:hover::after {
    width: 100%;
}

/* Sobre la película */
#sobreLaPelicula {
    height: 900px;
    background-image: url(../contenidoIndex/fondoBlackClover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-position 2.5s ease-out;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    padding-top: 180px;
    padding-right: 160px;
}

#sobreLaPelicula > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    row-gap: 40px;
    flex-basis: 500px;
}

/* Reparto */
#reparto {
    display: flex;
    justify-content: end;
    align-items: center;
}

#textoReparto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin: 50px;
    row-gap: 40px;
}

#reparto > .imagenes {
    display: flex;
    flex-direction: column;
}

.figurePersonajes img {
    transition: scale 0.5s ease;
}

.figurePersonajes:hover img {
    scale: 1.2;
}

.personajes {
    width: 260px;
    height: auto;
    padding: 0;
    border-radius: 25px;
    box-shadow:
        0 4px 8px rgba(100, 100, 100, 0.4),
        0 8px 16px rgba(200, 200, 200, 0.3),
        0 12px 24px rgba(255, 255, 255, 0.2);
}

/* Curiosidades */
#curiosidades {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

#textoCuriosidades {
    font-family: 'texto';
    row-gap: 20px;
}

#imagenesCuriosidades > figure {
    margin: 0;
    padding: 0;
}

#imagenesCuriosidades + div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 800px;
    padding: 0;
    margin: 0;
}

.personajesCuriosidades {
    border-radius: 10px;
}

.personajesCuriosidades > img {
    width: 800px;
    height: auto;
    border-radius: 10px;
    box-shadow:
        0 10px 20px rgba(255, 255, 255, 0.363),
        0 0 10px rgba(255, 255, 255, 0.664);
    transition: scale 0.5s ease;
}

.personajesCuriosidades img:hover {
    scale: 0.9;
}

/* Contacto */
#contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contacto > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    flex-basis: 1100px;
}

#contacto > figure img {
    border-radius: 10px;
    width: 550px;
    box-shadow:
        0 4px 8px rgba(100, 100, 100, 0.4),
        0 8px 16px rgba(200, 200, 200, 0.3),
        0 12px 24px rgba(255, 255, 255, 0.2);
    transition: scale 0.3s ease;
}

#contacto > figure img:hover {
    scale: 0.9;
}

/* Estudio */
#estudio {
    display: flex;
    column-gap: 40px;
    align-items: center;
}

#estudio > .divTexto {
    margin: 0 40px;
}
