body {
    background-color: rgba(0, 0, 0, 0.801);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    max-width: 700px;
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

fieldset {
    border: 1px solid #333;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

legend {
    color: #ffd700;
    padding: 0 10px;
    font-size: 30px;
    text-align: center;
}

label {
    color: #eaeaea;
    font-size: 20px;
}

#contacto {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#contacto h1 {
    color: #ffd700;
    font-size: 50px;
}

#contacto p {
    color: #d1d1d1;
    font-size: 18px;
    text-align: center;
    max-width: 700px;
}

fieldset > input {
    background-color: #333;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: #eaeaea;
}

#enviar {
    background-color: #ffd700;
    width: 250px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

#mensaje {
    padding-bottom: 100px;
}