main {
    font-family: 'texto';
    background-color: #0d0d0d;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #eaeaea;
    row-gap: 100px;
}

article {
    max-width: 1700px;
    border-radius: 12px;
    background: #1a1a1a;
}

#containerVideo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 2000px;
    overflow: hidden;
}

#containerVideo::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#containerVideo div {
    position: absolute;
    text-align: center;
    color: white;
    z-index: 2;
}

.videoFondo {
    width: 100%;
    height: auto;
}

h2 {
    font-size: 28px;
    color: #ffd700;
    margin-bottom: 10px;
}

p {
    line-height: 40px;
}

span {
    color: #9ed2ff;
    font-style: italic;
}

#espada {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: justify;
    padding: 0;
}

#espada > figure {
    margin: 0 0 -7.5px 0;
    padding: 0;
}

.divEspada {
    margin: 20px 20px 0 20px;
}

.divEspada > h2 {
    text-align: center;
}

.divEspada > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    padding: 0;
    margin: 0;
}

.articleVideos {
    display: flex;
}

.articlePremios {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.divTexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 40px 0 40px;
    font-size: 20px;
    text-align: justify;
    padding: 0;
}

.divTexto > h2 {
    font-size: 80px;
    padding: 0;
    margin: 0;
}

#imgNetflix {
    width: 880px;
    height: auto;
}

#animeAwards {
    width: 880px;
}

figure {
    padding: 0;
    margin: 0;
}